html {
  height: 100%;
  width: 100%;
  background-color: #CE7572;
}
h1{
  color: #FADA7A;
  font-size:70px;
  text-align: center;
}

#email{
  float:right ;
}
p{
  color:white;
  font-size: 20px;
}
a{
  color:white;
}
.container {
  display: flex;
  justify-content: space-around;
}
.right {
  display: flex;
  flex-direction: column;
  float: right;
}
#iemesls{
height: 55px;
}
#aploksne{
  height: 150px;
  width: 150px;
  margin-left: 200px;
}
.left{
  margin-right: 400px;
}
