html {
  height: 100%;
  width: 100%;
  background-color: #CE7572;
}
p{
  color:white;
  font-size: 20px;
}
a{
  color:white;
}
#cilveks{
  float:right ;
  margin-bottom:50px ;
  width: 200px;
}
#aploksne{
  float:right;
   width: 200px;
}
.container {
  display: flex;
  justify-content: space-around;
}
.right {
  display: flex;
  flex-direction: column;
}
#sudziba{
 height: 50px;
  width: 170px;
  font-size: 15px;
}
input{
  margin-bottom: 20px;
}